# Cell tower coverage

In the last two decades, the mobile technology has evolved at a staggering pace and the demand for mobile services has increased significantly. These services are provided through a network of cell towers which are typically operated by mobile network operators.

However, the deployment of cell towers comes with a cost, and the network operators need to ensure that the cell towers are placed in such a way that they provide optimal network coverage while keeping the number of cell towers to a minimum.ilfunkbetreibern betrieben werden.

![Cell Tower Coverage](https://media.rnztools.nz/rnz/image/upload/s--5-nd_aXq--/c_scale,f_auto,q_auto,w_1050/v1651703353/4LTH50J_image_crop_141730)

## The problem

A mobile network operator is planning to deploy a series of cell towers to provide coverage to the residents of a particular city. The city has been divided into a series of regions in a previous step. The operator now needs to decide in which regions to deploy cell towers in order to reach the largest number of residents. The costs associated with deploying a cell tower in each region are known and are listed in the following table:

In [9]:
import pandas as pd

loc_reg_data = [
    ["Location 1", 1, 1, 0, 0, 0, 1, 0, 0, 0],
    ["Location 2", 1, 0, 0, 0, 0, 0, 0, 1, 1],
    ["Location 3", 0, 0, 1, 1, 1, 0, 1, 0, 0],
    ["Location 4", 0, 0, 1, 0, 0, 1, 1, 0, 0],
    ["Location 5", 1, 0, 1, 0, 0, 0, 1, 1, 1],
    ["Location 6", 0, 0, 0, 1, 1, 0, 0, 0, 1]
]

regions = [f"Region {x}" for x in range(1, 10)]

lr = pd.DataFrame(loc_reg_data, columns=["Location"] + regions)
lr.set_index("Location", inplace=True)

pop_data = [523, 690, 420, 1010, 1200, 850, 400, 1008, 950]
pop = pd.Series(
    pop_data, 
    name="Population",
    index=regions
)

pop.to_frame()

          Population
Region 1         523
Region 2         690
Region 3         420
Region 4        1010
Region 5        1200
Region 6         850
Region 7         400
Region 8        1008
Region 9         950

Die Reichweiten der Mobilfunkmasten je nach Standort sind ebenfalls bekannt und in der folgenden Tabelle aufgef√ºhrt:

In [10]:
lr

,Region 1,Region 2,Region 3,Region 4,Region 5,Region 6,Region 7,Region 8,Region 9
Location,,,,,,,,,
Location 1,1,1,0,0,0,1,0,0,0
Location 2,1,0,0,0,0,0,0,1,1
Location 3,0,0,1,1,1,0,1,0,0
Location 4,0,0,1,0,0,1,1,0,0
Location 5,1,0,1,0,0,0,1,1,1
Location 6,0,0,0,1,1,0,0,0,1

## Umsetzung

In [13]:
lr

,Region 1,Region 2,Region 3,Region 4,Region 5,Region 6,Region 7,Region 8,Region 9
Standort,,,,,,,,,
Standort 0,1,1,0,0,0,1,0,0,0
Standort 1,1,0,0,0,0,0,0,1,1
Standort 2,0,0,1,1,1,0,1,0,0
Standort 3,0,0,1,0,0,1,1,0,0
Standort 4,1,0,1,0,0,0,1,1,1
Standort 5,0,0,0,1,1,0,0,0,1

In [11]:
lr.loc["Location 1", "Region 1"]

1

In [31]:
import gurobipy as gp
from gurobipy import GRB

m = gp.Model("Mobile coverage")

# Parameters

B = 4000
cost_per_location = 1000

# Add variables

x = m.addVars(lr.index, vtype=GRB.BINARY, name="Location")
s = m.addVars(regions, vtype=GRB.BINARY, name="Coverage")

# Add constraints

coverage_constr = m.addConstrs(
    (s[r] <= gp.quicksum(x[l] for l in lr.index if lr.loc[l, r] == 1) for r in regions),
    name="Coverage"
)

# budget_constr = m.addConstr(
#     ... ,
#     name="Budget"
# )

# Set objective

# m.setObjective(
# ... ,
#     GRB.MAXIMIZE
# )

# m.optimize()

# res_v = pd.DataFrame([x[i].x for i in lr.index], index=lr.index, columns=["Location"])
# res_v

Gurobi Optimizer version 11.0.0 build v11.0.0rc2 (linux64 - "Ubuntu 22.04.4 LTS")

CPU model: Intel(R) Core(TM) i5-10400F CPU @ 2.90GHz, instruction set [SSE2|AVX|AVX2]
Thread count: 6 physical cores, 12 logical processors, using up to 12 threads

Optimize a model with 10 rows, 15 columns and 36 nonzeros
Model fingerprint: 0x3e9f21b3
Variable types: 0 continuous, 15 integer (15 binary)
Coefficient statistics:
  Matrix range     [1e+00, 1e+03]
  Objective range  [4e+02, 1e+03]
  Bounds range     [1e+00, 1e+00]
  RHS range        [4e+03, 4e+03]
Found heuristic solution: objective -0.0000000
Presolve removed 10 rows and 15 columns
Presolve time: 0.00s
Presolve: All rows and columns removed

Explored 0 nodes (0 simplex iterations) in 0.00 seconds (0.00 work units)
Thread count was 1 (of 12 available processors)

Solution count 2: 7051 -0

Optimal solution found (tolerance 1.00e-04)
Best objective 7.051000000000e+03, best bound 7.051000000000e+03, gap 0.0000%

            Location
Standort
Standort 0       1.0
Standort 1       0.0
Standort 2       1.0
Standort 3       0.0
Standort 4       1.0
Standort 5       0.0